<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quản lý sinh viên</title>
    <style>
        .form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 50%;
        }

        .field {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        .actions {
            display: flex;
            gap: 10px;
        }
    </style>
</head>
<body>
    <main>
        <h1 id="title"></h1>
        <form class="form" id="form">
            <div class="field">
                <label for="name">Tên</label>
                <input id="name" name="name" required>
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" required>
            </div>
            <div class="actions">
                <button id="submit" type="submit">Lưu</button>
                <a id="cancel-link" href="#">Hủy</a>
            </div>
        </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.9/dist/axios.min.js"></script>
    <script src="/js/axios-config.js"></script>
    <script src="/js/api.js"></script>
    
    <script>
        const form = document.getElementById("form");
        const [, , facultyId, , , studentId] = window.location.pathname.split("/");
        const isEdit = Number(studentId);
        document.getElementById("cancel-link").href = `/faculty/${facultyId}/students`;

        document.getElementById("title").textContent = isEdit ? "Cập nhật sinh viên" : "Thêm sinh viên";
        document.getElementById("submit").textContent = isEdit ? "Cập nhật" : "Lưu";

        const fetchStudent = async () => {
            if (!isEdit) return;

            const { data } = await studentApi.detail(facultyId, studentId)
                .catch(() =>  window.location.href = `/faculty`);
            if (!data) return;

            form.elements.name.value = data.name;
            form.elements.email.value = data.email;
        };

        form.addEventListener("submit", async (event) => {
            event.preventDefault();
            const data = {
                name: form.elements.name.value.trim(),
                email: form.elements.email.value.trim(),
            };

            if (isEdit) await studentApi.update(facultyId, studentId, data);
            else await studentApi.create(facultyId, data);
            
            window.location.href = studentListUrl;
        });

    fetchStudent();
    </script>
</body>
</html>
